.thumb img  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
    margin-top: 50px;
}

.name {
    margin-left: 60px;
}

body {
    background-color:antiquewhite;
}